#
# radioDASH.service 
#
# 20201229-1200
#
# DESCRIPTION
#
#     This is a systemd service that runs radioDASH_ws-server.py on startup.
#
#
# STOP THE SERVICE
#
#     ./radioDASH.sh stop
#
# START THE SERVICE
#
#     ./radioDASH.sh start
#
# REMOVE THE SERVICE
#
#     ./radioDASH.sh remove
#


##
## INIT VARIABLES 
##

##
## SCRIPT
##

[Unit]
Description=radioDASH Web Server
After=multi-user.target

[Service]
User=pi
PIDFile=/run/radioDASH.pid
WorkingDirectory=/home/pi/radiodash
ExecStart=/home/pi/radiodash/radioDASH_ws-server.py
ExecStop=-/sbin/start-stop-daemon --quiet --stop --retry QUIT/5 --pidfile /run/radioDASH.pid
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target